/* сброс стилей браузера */
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


@font-face {font-family:Akrobat-Black ;src: url(../fonts/Akrobat-Black.otf);}
@font-face {font-family:Akrobat-Bold ;src: url(../fonts/Akrobat-Bold.otf);}
@font-face {font-family:Akrobat-ExtraLight ;src: url(../fonts/Akrobat-ExtraLight.otf);}
@font-face {font-family:Akrobat-Light ;src: url(../fonts/Akrobat-Light.otf);}
@font-face {font-family:Akrobat-Regular ;src: url(../fonts/Akrobat-Regular.otf);}
@font-face {font-family:Akrobat-SemiBold ;src: url(../fonts/Akrobat-SemiBold.otf);}
@font-face {font-family:HelveticaBold ;src: url(../fonts/HelveticaBold.ttf);}
@font-face {font-family:Akrobat-Thin ;src: url(../fonts/Akrobat-Thin.otf);}
@font-face {font-family:HelveticaNeueCyr-Black ;src: url(../fonts/HelveticaNeueCyr-Black.otf);}
@font-face {font-family:HelveticaNeueCyr-BlackItalic ;src: url(../fonts/HelveticaNeueCyr-BlackItalic.otf);}
@font-face {font-family:HelveticaNeueCyr-BoldItalic ;src: url(../fonts/HelveticaNeueCyr-BoldItalic.otf);}
@font-face {font-family:HelveticaNeueCyr-Italic ;src: url(../fonts/HelveticaNeueCyr-Italic.otf);}
@font-face {font-family:HelveticaNeueCyr-LightItalic ;src: url(../fonts/HelveticaNeueCyr-LightItalic.otf);}
@font-face {font-family:HelveticaNeueCyr-Medium ;src: url(../fonts/HelveticaNeueCyr-Medium.otf);}
@font-face {font-family:HelveticaNeueCyr-Thin ;src: url(../fonts/HelveticaNeueCyr-Thin.otf);}
@font-face {font-family:HelveticaNeueCyr-Roman ;src: url(../fonts/HelveticaNeueCyr-Roman.otf);}
@font-face {font-family:HelveticaNeueCyr-ThinItalic ;src: url(../fonts/HelveticaNeueCyr-ThinItalic.otf);}
@font-face {font-family:HelveticaNeueCyr-UltraLight ;src: url(../fonts/HelveticaNeueCyr-UltraLight.otf);}
@font-face {font-family:HelveticaNeueCyr-UltraLightItalic ;src: url(../fonts/HelveticaNeueCyr-UltraLightItalic.otf);}
@font-face {font-family:Intro ;src: url(../fonts/Intro.otf);}
@font-face {font-family:Montserrat-Black ;src: url(../fonts/Montserrat-Black.otf);}
@font-face {font-family:Montserrat-ExtraBold ;src: url(../fonts/Montserrat-ExtraBold.otf);}
@font-face {font-family:Montserrat-Bold ;src: url(../fonts/Montserrat-Bold.otf);}
@font-face {font-family:Montserrat-ExtraLight ;src: url(../fonts/Montserrat-ExtraLight.otf);}
@font-face {font-family:Montserrat-Light ;src: url(../fonts/Montserrat-Light.otf);}
@font-face {font-family:Montserrat-Medium ;src: url(../fonts/Montserrat-Medium.otf);}
@font-face {font-family:Montserrat-SemiBold ;src: url(../fonts/Montserrat-SemiBold.otf);}
@font-face {font-family:Montserrat-Thin ;src: url(../fonts/Montserrat-Thin.otf);}
@font-face {font-family:ProximaNova-Black ;src: url(../fonts/ProximaNova-Black.ttf);}
@font-face {font-family:ProximaNova-Bold ;src: url(../fonts/ProximaNova-Bold.ttf);}
@font-face {font-family:ProximaNova-Extrabld ;src: url(../fonts/ProximaNova-Extrabld.ttf);}
@font-face {font-family:ProximaNova-Light ;src: url(../fonts/ProximaNova-Light.ttf);}
@font-face {font-family:ProximaNova-Regular ;src: url(../fonts/ProximaNova-Regular.ttf);}
@font-face {font-family:ProximaNova-Semibold ;src: url(../fonts/ProximaNova-Semibold.ttf);}
@font-face {font-family:ProximaNovaT-Thin ;src: url(../fonts/ProximaNovaT-Thin.ttf);}
@font-face {font-family:RobotoSlab-Bold ;src: url(../fonts/RobotoSlab-Bold.ttf);}
@font-face {font-family:RobotoSlab-Light ;src: url(../fonts/RobotoSlab-Light.ttf);}
@font-face {font-family:RobotoSlab-Regular ;src: url(../fonts/RobotoSlab-Regular.ttf);}
@font-face {font-family:RobotoSlab-Thin ;src: url(../fonts/RobotoSlab-Thin.ttf);}



.lan2{
 background: #c7c7c7;
 padding:5px 5px;
 text-decoration: none;
 color:white;
}
.lan1{
    color:#d5d5d5;
    text-decoration: none;
}
.menu a{
    text-decoration: none;
    color: #5b5b5b;
    font-family: HelveticaNeueCyr-BlackItalic;
    font-size: 14px;
    font-weight: 700;
}
.title{
    text-align: center;
    color: #404040;
    font-family: Intro;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 116px;
}
.title::after{
    content:' ';
    width: 60px;
    height: 2px;
    margin-top:30px;
    margin-left: -30px;
    background-color: #555555;
    position: absolute;
}
header{
    width: 100%;
}
.wrapper{
     max-width: 1140px;
     margin: 0 auto;
}
.lang_menu{
    max-width: 940px;
    float:left;
    min-height: 154px;
}
.language{
    min-height: 95px;
}

.language li{
    font-family: HelveticaNeueCyr-Black;
    list-style: none;
    float:left;
    padding:5px 5px;
    width: 30px;
    height: 30px;
}

.language_select{
    float:right;
    margin-top:26px;
}





/*------------------------
-----------------------
---------------------
-------------------
-*/
.logo_menu{
    min-height:60px;
    min-width:100%;
}
.logo{
    width: 153px;
    height: 41px;
    float: left;
}
.container_header{
    width: 1000%;
    height: 154px;
    background-color: #ffffff;
}
.menu{
    margin-right: 5px;
    list-style: none;
    float: left;
}
.menu li{
    display: block;
    float:left;
    margin-left:30px;
    width: 80px;
    color: #5b5b5b;
    font-size: 10px;
    font-weight: 500;
    text-align: center  ;

}
.menu li:first-child{
    margin-left: 0;
}
.menu ul{
    margin-right: 4px;
}

/*-
---------------------
---------------------
--------------------
------------------*/
.coll{
    float:left;
    min-height: 154px;
    max-width: 194px;
    background-color: #f3f3f3;
    padding: 80px 36px 13px 36px;
}
.coll span{
    display: block;
    font: 18px HelveticaNeueCyr;
    color:#535353;
}
.coll_me{
    margin-top:5px;
    color:#626262;
    display: block;
    font-size: 11px;
    font-family: ProximaNova-Bold;
    height: 33px;
    padding:13px;
    background-color: #ffdc00;
    border:none;
    border-radius:11px;
    width: 110px;
    text-transform: uppercase;
    padding:12px 13px;
}
/*-----------------------
--------------------------
-------------------------
------------------------
---------------------
----------------------
------------------------*/


.slider {
 z-index: 9;
 width: 100%;
 height: 700px;
 overflow: hidden;
 margin: 0 0 7px;
 position: relative;
 }
 .image_slide{
    float:left;
    height: 730px;
    width: inherit;
}
.banner .slick-dots li.slick-active button:before{
    color: #70bf6a;
    opacity: 1;
}
.banner .slick-dots li button:before{
    color:#ffffff;
    opacity: 1;
}

.banner .slick-dots{
    bottom: 28px;
    right: 480px;
    text-align: right;
}
 
 
 
 
 .boards{
   min-height: 740px;
 }
 .board1{
     position: absolute;
     height:218px; 
     width:475px;
     top:84px;
     left:105px;
     background-color: #7db10c;
     color:white;
     padding: 55px 52px 70px 47px;
     text-align:center;
     font-family: HelveticaNeueCyr-Black;
     font-size: 30px;
     font-weight: 700;
     text-transform: uppercase;
     line-height: 30px;
     transition:all 0.3s ease;
 }

 .board1:hover{
     -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);  
 }

 .board2{
     position:absolute;
     left: 105px;
     top:323px; 
     height: 144px;
     width:475px;
     background-color: #ffdc00;
     color:#626262;
     font: 24px HelveticaNeueCyr-Black;
     padding: 40px 34px 51px 21px;
     text-align: center;
     font-weight: 900;
     transition:all 0.3s ease;
 }

  .board2:hover{
     -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);  
 }
 /*-----------------------------
 -----------------------------
 -------------------------------
 -----------------------------*/

.esse{
    min-height: 853px;
    padding: 115px 15px 122px 15px;

}
.esse_blocks{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0px 15px 122px 15px;
    text-align: center;
}
.esse_blocks_block{
    width:255px; 
    min-height:192px;
    margin-top: 56px;
    
}
.zoom{
    transition:all 2s ease;
}
.zoom:hover{
    -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.block_description{
    margin-top:18px;
}
.block_description h3{ 
color: #555555;
font-family: HelveticaNeueCyr-Black;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}
.description h3 span{
    font-size: 22px;
    font-weight: 700;
    font-family: HelveticaNeueCyr-Roman;
    text-transform: none;
}
.block_description span{
    color: #555555;
    font-family:HelveticaNeueCyr-Roman;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.value_box {
  transition:all 2s ease;
}

.value_box:hover{
    -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/*--------------------------
------------------------------
------------------------------
------------------------------*/

.forChildren{
    text-align: center;
    min-height: 681px;
    background-color: #e8e8e8;
    padding:111px 0 119px 0;
    transition: background-color,2s;
}
.wrapper_for_children{

    margin-top:107px;
}
.forChildren:hover{
    background: #fff;
}
.Age{
    margin-left: 45px;
    background-color: white;
    padding:24px 5px 2px 5px;
    float: left;
    width: 90px;
    height: 90px;
    border: 3px solid #f4be2b;
    text-align: center;
    color: #f4be2b;
    line-height: 24px;
    text-transform: uppercase;
    font-family: Intro;

}
.Age span{
    font-size: 29px;
    font-weight: 400;
}
.oldSchoolAge{
     color:#d20f3a;
     border-color:#d20f3a;
}
.midleSchoolAge{
    color:#70bf6a;
    border-color:#70bf6a;
}
.startSvhool{
    background: #e8e8e8;
}
.startSvhoolAge{
    color:#bd8cc1;
    border-color:#bd8cc1;
}
.description_titlel h3{
    padding:16px 5px 0 27px;
    float:left; 
    width: 367px;
    height: 52px;
    color: #447326;
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}
.description{
    text-align: left;
    display:flex;
    flex-direction: column;
}
.description .text{
    margin-left: 45px;
    margin-top:27px;
    width: 583px;
    height: 132px;
    color: #555555;
    font-family: RobotoSlab-Regular;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
}
.coll_visit{
 margin:58px 0 0 47px;
 display: flex;
 flex-wrap: nowrap;
}  


.parent_botton{
    letter-spacing: 2px;
    padding: 11px 25px 14px 26px;
    border-radius: 10px;
    border: 2px solid #f4be2b;
    background-color: #f4be2b;
    color: #ffffff;
    font-family: HelveticaNeueCyr-Black;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    float:left;
}
.col_parent{ 
    background-color: #f4be2b;
    border-radius: 10px;
    float:left;
    margin-left:15px;
    padding:11px 20px 13px 20px;
}


.startSvhool{
    min-height: 490px;
    padding:62px 0 72px 0;
    transition: background-color,2s;
}
.startSvhool:hover{
    background: #fff;
}
.start_botton{
    background-color: #bd8cc1;
    border:#bd8cc1;
}
.col_start{
  background-color: #bd8cc1;
    border:#bd8cc1;
}

.midleSchool{
    background-color: #e8e8e8;
    padding:62px 0 72px 0;
     transition: background-color,2s;
}
.midleSchool:hover{
    background: #fff;
}

.midle_botton{
    background-color:#70bf6a;
    border:#70bf6a;
}

.col_midle{
    background-color:#70bf6a;
    border:#70bf6a;
}

.oldSchool{
    background-color:  #e8e8e8;
    padding:62px 0 72px 0;
    transition: background-color,2s;
}
.oldSchool:hover{
    background: #fff;
}

.old_botton{
    background-color:#d20f3a;
    border:#d20f3a;
}

.cool_old{
    background-color:#d20f3a;
    border:#d20f3a;
}


/*--------------------------------
-----------------------------------
------------------------------------
------------------------------------
----------------------------------*/


.middle_banner{
    background: url('../img/middle_banner.png') center;
    min-height: 415px;
}

/*--------------------------------
-----------------------------------
------------------------------------
------------------------------------
----------------------------------*/

.strategy{
    background: url('../img/background_strategy.png') #f8f8f8 repeat;
    min-height: 1543px;
}
.strategy_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 150px 80px 152px  80px;
}
.flex_strategy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:40px;
}
.strategy .stategy_text{
    width: 472px;
    height: 192px;
    padding:32px 67px 20px 70px;
    background-color:#70bf6a;  
    color: #ffffff;
    font-family: HelveticaNeueCyr-Black;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-top:25px;
   transition:all 0.3s ease;
 }

  .strategy .stategy_text:hover{
     -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);  
 }

.left{
    margin-left:30px;
    text-align: left;
}
.left_image{
    float:left;
}
.right{
    margin-right: 30px;
    text-align: right;
}

.strategy_second .stategy_text{
    background-color: #bd8cc1;
}

.strategy_third .stategy_text{
    background-color: #f4be2b;
}

.strategy_fourth .stategy_text{
    background-color: #d20f3a;
}

/*--------------------------------
-----------------------------------
------------------------------------
------------------------------------
----------------------------------*/
.value{
    padding-top:159px;
}
.value_boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0px 156px 190px 156px;
}
.value_box{
    text-align: center;
    height: 192px;
    width: 262px;
    margin-top:32px;
}

/*--------------------------------
-----------------------------------
------------------------------------
------------------------------------
----------------------------------*/
.last_banner{
    background: url('../img/last_banner.png') center;
    min-height: 587px;
    color: #ffffff;
    font-family: RobotoSlab-Regular;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    line-height: 36px;
    text-align: center;
    padding:201px 0 310px 0;
}
/*--------------------------------
-----------------------------------
------------------------------------
------------------------------------
----------------------------------*/
.our_comand{
    min-height: 718px;
    background: #f8f8f8;
    padding:148px 0 153px 0;
}
.wrapper_slide{
    max-width:1110px; 
    margin: 0 auto;
}
.left_image_slide{
    float:left;
    margin-right:60px;
    margin-left: 65px;
    height: 315px;
    width: 315px;
}
.slide_text{
    text-align: center;
    margin-top:61px;
    width: 595px;
    height: 119px;
    color: #404040;
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    float:left;
}

/*--------------------------------
-----------------------------------
------------------------------------
------------------------------------
----------------------------------*/

.contact{
    color:white;
    min-height: 156px;
    background-color: #70bf6a;
    border-bottom:12px #f4be2b solid;
    padding-top:42px;
}
.contact .title{
    color:white;
}
#map , .preferenses_blocks{
    min-height: 690px;
    position: relative;
    overflow: hidden;
}
.preferenses{
    position: absolute;
    right: 309px;
    min-height: 690px;
    z-index: 10000;
    background: #ffffff;
}
.preferenses_block{
    padding-top:15px;
    text-align: center;
    color: #777676;
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    min-height: 121px;
    width:409px;
    background: #ffffff;
    border-bottom:6px  #f4be2b solid;
}
.preferenses_block:first-child{
    padding-top:51px;
    padding-bottom: 49px;
}

footer{
    min-height:  309px;
    max-width: 80%;
    margin:0 auto;
    font-family: Akrobat;
    
}
.inst , .facebook{
 text-align: center;
 min-width: 34px;
 min-height: 34px;
 background: #929292;
 border-radius: 7px;
 float:left;
 margin-top: 14px;
 padding-left: 12px;
 padding-bottom: 7px;
}


.inst{
    margin-left: 17px;
}


footer li {
    list-style: none;
    float:left;
    text-align: center;
}
footer ul{
    display: flex;
    flex-wrap: nowrap;
}
.logo_footer{
    float:left;
    width: 40%;
    margin-top:42px;
    text-align: left;
}
.numbrer_post{
    margin-right: 20px;
    float:left;
    margin:53px 0 0 0;
    color: #737373;
    font-size: 28px;
    width: 20%;
}
.numbrer_post span{
    font-family: Akrobat-Bold;
    color: #636363;
    font-size: 21px;
}
.number{
    margin-right: 15px;
}
.logo_social{
    margin: 0 auto;
}
.adres{
    margin: 0 auto;
}
.social{
  
  color: #636363;
  font-family: Akrobat;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.social span{
    display: block;
}
.social img{
    margin-top:14px;
}
.social img:first-child{
    margin-right: 10px;
}

/*pop-up*/
.pop-other{
    z-index: 1000000;
    display: none;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.pop-inner{
    position: relative;
    background: #fff;
    width: 540px;
    height: 335px;
    margin: 150px auto;
    text-align: center;
    padding:36px 0;
}

.pop-inner input{
 padding:14px 0 14px 17px;
 margin-top:7px;
 display: block;
 border:2px #c3c3c3 solid;
 width: 350px;
}
.pop-inner input::placeholder{
 font:18px  HelveticaNeueCyr-Black;
 color:#8f8f8f;
}
.pop-inner  h2{
    font: 30px HelveticaNeueCyr-Black;
    text-transform: uppercase;
    color: black;  
}
.pop-inner span{
    font: 18px  HelveticaNeueCyr-Black;
    color: #535353;
}
.close{
    background: #fff url('../img/cancel-menu.png');
    width: 24px;
    height: 24px;
    border: none;
    float:right;
    right:11px;
    top:11px;
    position: absolute;
}
.call_pop_up{
    border:none;
    border-radius: 9px;
    padding:16px 33px 20px 33px;
    background: #ffdc00;
    font:18px MyriadPro;
    color:#626262;
    text-transform: uppercase;
    margin-top: 14px;
}
.wrapper_pop_up{
    max-width: 350px;
    margin: 0 auto;
}

/*----------------
-------Media------------
------------------
----------------*/


@media  (max-width:1139px){
    .lang_menu{
        margin: 0 auto;
        max-width: 100%;
    }
    .wrapper{
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .language_select{
        position:absolute;
        right: 0;
        top:15px;
    }
      /*--------------
    -------------
    -------------
    ------------
    ---------*/
    .menu{
        margin: 0;
        padding: 0;
        float:none;
        display: none;
        min-width: 100%;
    }
    .menu ul{
        display: block;
        position: relative;
        min-width: 100%;
        margin: 0;
        padding: 0;
    }
    .menu li{
        margin: 0;
        padding: 15px;
        float:none;
        width: 100%;
        display: inline-block;
        text-align: center;
        border-bottom: 2px solid #70bf6a;
    }
    .menu li:hover{
        color:white;
        background: rgba(0,0,0,0.5);
    }
    .logo_menu{
    min-height:60px;
    width: 100%;
    }
    .menu-trigger{
        display: block;
        position: absolute;
        right: 20px;
        background: url('../img/menu.png') center;
        width: 24px;
        height: 24px;
    }
    /*--------------
    -------------
    -------------
    ------------
    ---------*/
    .coll{
        text-align: center;
        min-width: 100%;
        min-height: 100px;
        padding: 20px 36px 13px 36px;
    }
    .coll_me{
        margin: 5px auto;
    }
    .slider {
    z-index: 9;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
  }
  .banner .slick-dots{
    bottom: 18px;
    right: 50%;
    text-align: right;
    margin-right: -25px;
}
 .image_slide{
    float:left;
    height: 400px;
    width: inherit;
}
 .board1{
     position: absolute;
     height:118px; 
     width:275px;
     top:84px;
     left:75px;
     padding: 25px 27px 35px 27px;
     text-align:center;
     font-family: HelveticaNeueCyr-Black;
     font-size: 15px;
     text-transform: uppercase;
     line-height: 25px;
 }

 .board2{
     position:absolute;
     left: 75px;
     top:220px; 
     height: 72px;
     width:275px;
     font: 14px 'HelveticaNeueCyr-Black';
     padding: 20px 15px 25px 11px;
     text-align: center;
     line-height: 25px;
 }


 /*------------------
 ------------------
 ---------------
 -------------*/




 .left_image{
     float: none;
     margin: 0 auto;
 }

.description_titlel{
    float: none;
    margin: 15px auto;
}
.description .text{
    margin: 15px auto;
    text-align: center;
    
}
.coll_visit{
 margin:50px auto;
}  
.centrealize{
    float: none;
    margin: 0 auto;
    text-align: center
}
 /*------------------
 ------------------
 ---------------
 -------------*/
.strategy{
    text-align: center;
}
.strategy_wrapper{
    padding:0px 0 50px 0px;
}
.strategy_wrapper{
    
    display: flex;
    flex-direction: column;
    padding: 0;
}
.flex_strategy{
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    margin-top:40px;
}
.strategy .stategy_text{
    margin-top:0;
     transition:none;
 }
.left{
    margin-left:0;
    text-align: center;
}
.left_image{
    float:none;
}
.right{
    order: 2;
    margin-right: 0;
    text-align: center;
}
 /*------------------
 ------------------
 ---------------
 -------------*/
 .value{
    padding-top:159px;
}
.value_boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0px 70px 50px 70px;
}
.value_box{
    text-align: center;
    height: 192px;
    width: 262px;
    margin-top:32px;
}
 /*------------------
 ------------------
 ---------------
 -------------*/
 .our_comand{
    min-height: 718px;
    background: #f8f8f8;
    padding:50px 0 50px 0;
}
.wrapper_slide{
    max-width:80%; 
    margin: 0 auto;
}
.left_image_slide{
    float:none;
    margin: 0 auto;
    height: 215px;
    width: 215px;
}
.slide_text{
    text-align: center;
    margin: 0 auto;
    float:none;
    font-size:15px;
}
.slick-dots{
    bottom: -15px;
    right: 50%;
    margin-right: -47px;
    text-align: right;
}
#map , .preferenses_blocks{
    min-height: 400px;
    position: relative;
}
.preferenses{
    display: none;
}
/*------------------
 ------------------
 ---------------
 -------------*/
 footer ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}
footer li{
    text-align: center;
}
.logo_footer{
    margin:0 auto;
    margin-top:50px;
    float:none;
}
.numbrer_post{
    width: 100%;
    float:none;
    margin:15px 0 15px 0 ;
    color: #737373;
    font-size: 15px;
}
.numbrer_post span{
    color: #636363;
    font-size: 21px;
}
.number{
    margin-left: 15px;
}
.social{
  color: #636363;
  font-family: Akrobat;
  font-size: 15px;
  margin: 0 auto;
}
.social span{
    display: block;
}
.social img{
    margin-top:14px;
}
.social img:first-child{
margin-right: 10px;
}

} 

      /*--------------
    -------------
    -------------
    ------------
    ---------*/

@media (min-width:319px) and (max-width:718px){
 .board1{
    display: none;
 }

 .board2{
     display: none;
 }


 /*------------------
 ------------------
 ---------------
 -------------*/

 .value{
    padding-top:50px;
}
.value_boxes{
    flex-wrap: wrap;
    flex-direction: column;
    padding:0;
}
.value_box{
    margin: 32px auto;
}
 /*------------------
 ------------------
 ---------------
 -------------*/
 .our_comand{
    min-height: 718px;
    background: #f8f8f8;
    padding:20px 0 20px 0;
}
.wrapper_slide{
    max-width:80%; 
    margin: 0 auto;
}
.left_image_slide{
    float:none;
    margin: 0 auto;
    height: 215px;
    width: 215px;
}
.slide_text{
    padding: 0 15px 0 15px;
    text-align: center;
    margin: 0 auto;
    float:none;
    font-size:15px;
    min-width: inherit;
    height: 100%;
}


.description .text{
    margin:27px 0 0 0;
    width: 100%;
    min-height: 132px;
    max-height: none;
    color: #555555;
    font-family: MyriadPro-Regular ;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
}
.left_image{
    width: 100%;
}
.Age{
    float:none;
    margin: 0 auto;
}

.description_titlel h3{
    margin: 0 auto;
    padding: 0;
    margin: 0;
    text-align: center;
}
    .coll_visit {
    margin-top: 140px;
}
.parent_botton{
 font-size:10px;
 padding: 11px 25px 14px 26px;
}
.flex_strategy{
 width: 100%;
}
.stategy_text{
    max-width: 100%;
}
.stategy_text p{
    font-size: 15px;
}
.our_comand{
    display:none;
}
.description_titlel h3{
    padding:0; 
    text-align: center;
    width: 100%;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
}
/*pop-up*/
.pop-inner{
    font-size:15px;
    position: relative;
    background: #fff;
    width: 310px;
    height: 295px;
    margin: 150px auto;
    text-align: center;
    padding:36px 0;
}

.pop-inner input{
 margin: 7px auto;
 padding:7px 0 4px 17px;
 display: block;
 border:2px #c3c3c3 solid;
 width: 220px;
}

.call_pop_up{
    border:none;
    border-radius: 9px;
    padding:8px 15px 10px 15px;
    background: #ffdc00;
    font:15px MyriadPro;
    color:#626262;
    text-transform: uppercase;
    margin-top: 14px;
}
   .strategy .stategy_text {
       width: 100%;;
   }
}